.button_type_close-card{
    background-image: url(../../../images/Close_Icon.svg);
    background-size: 100%;
    background-position: center;
    border: none;
    position: absolute;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
}